<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Bitter' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <!--<div class="site">-->

        <div class="wrapper">
          <div class="header">
            <h1 class="title"><a href="/">nulla dies sine linea </a></h1>
            <!--<h2>— of code or something —</h2>-->
            <h2>thoughts on code, training, and cats</h2>
            <!--<h2 style="">by keegan lowenstein</h2>-->
          </div>

          {{ content }}

          <!--<div class="singleColumn footer">-->
          <div class="push">
          </div> <!-- sticky footer hack -->
        </div>

        <div class="footer">
          <ul>
            <li>Keegan Lowenstein</li>
            <li><a href="https://twitter.com/keeganlow">@keeganlow</a></li>
            <li><a href="https://github.com/lowensk">github.com/lowensk</a></li>
          </ul>
        </div>
      <!--</div>-->

    </body>
</html>
